










body{
    background-color: lightcoral;
}




:root{
    --altura-linea:  .5rem;
    --altura-boton: 2rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 15rem;
    border-radius: 30px;
    background: #273549;
    background-image: linear-gradient(#7DD3FC, #7DD3FC);
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

  /* la linea */

 

  input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
    height: var(--altura-linea);
  }


  
  /******** Firefox ********/
  /*
  input[type="range"]::-moz-range-track {
    position: relative;
    background: hsl(174, 77%, 80%);
    height: var(--altura-linea);
    border-radius: 30px;
  }
*/
  

  /* el boton */
  input[type="range"]::-webkit-slider-thumb {
    box-sizing: border-box;
    position: relative;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border: none; /* si quieres ponerle borde */
    margin-top: calc((var(--altura-linea) / 2) - (var(--altura-boton) / 2)); /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: var(--altura-boton);
    width: var(--altura-boton);   /* porque quiero un circulo pero podrias poner cualquier cosa o un clip */ 
    border-radius: 100%;
    
 }

 /***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    position: relative;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #5cd5eb;
    height: var(--altura-boton);
    width: var(--altura-boton);
    border-radius: 100%;
    
}

 /***** Focus Styles para que se centre en el boton *****/
/* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }
  
  /******** Firefox ********/
  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;     
    
  }








  